Build/
64-bitBuild/
LinuxBuild/
BuildVTK6/
BuildWidgets3/
BuildVS2015/
BuildVS2017
BuildPython3/
Installer/OpenCascade64bit/
Installer/OpenCascade64bit_7/
Installer/Python_64bit/
Installer/Python27Lib/
Installer/Python39/
Installer/Python39Lib/
Installer/*.exe
!Installer/CFXImportVTK.exe
Installer/*.dll
!msvcp140.dll
!vcruntime140.dll
Installer/*.pyd
Installer/*.manifest
Docs/TexGen.chm
Docs/html/
Python/*.py
Python/*.zip
Python/*_wrap.*
GUI/*.py
GUI/*_wrap.*

# Directories #
Binaries
CMakeFiles
.vs
